# Dependencies
node_modules/
.pnpm-store/

# Build output
**/dist/
**/build/
**/.next/
**/.turbo/
**/.cache/
web/.docusaurus/
print/_book/
print/.quarto/
print/site_libs/
print/_freeze/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/
*.lcov

# AWS / CDK
**/cdk.out/
.aws-sam/
